<div class='panel panel-primary'>
    <div class='panel-heading'>
        <div>
            {{pageTitle}}
            <button type="button" class="btn btn-default col-sm-offset-1" (click)="showNewForm=true">Dodaj</button>
        </div>
    </div>

    <div class='panel-body'>
        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <form (ngSubmit)="onSubmit()" #storeForm="ngForm" [hidden]="!showNewForm">
            <div class="form-group">
                <label for="name">Nazwa</label>
                <input type="text" class="form-control" required
                       [(ngModel)]="model.name"
                       name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!storeForm.form.valid">Zapisz</button>
        </form>

        <div class='table-responsive'>
            <table class='table table-hover' *ngIf='stores && stores.length'>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor='let store of stores'>
                    <td>{{ store._id }}</td>
                    <td>{{ store.name }}</td>
                    <button type="button" class="btn btn-default" (click)="onSelect(store)">Edycja</button>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>