<button type="button" class="btn btn-secondary" (click)="showDialog()">
    <ng-content></ng-content>
</button>
<p-dialog *ngIf="display" appendTo="body" visible="true" modal="modal" responsive="true" (onHide)="hideDialog()">
    <p>{{ title }}</p>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="hideDialog()" label="No"></button>
            <button type="button" pButton icon="fa-check" (click)="confirm();hideDialog()" label="Yes"></button>
        </div>
    </p-footer>
</p-dialog>
