<div *ngIf="products && products.length > 0" class="row">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="actionDrop" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
            Choose product
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="actionDrop">
            <li *ngFor='let p of products'(click)="setProduct(p)"><a href="#">{{p.display_name}}</a></li>
        </ul>
    </div>
    <input *ngIf="positionSell._product" class="col-ean" readonly type="text" [value]="positionSell._product.ean">
    <input *ngIf="positionSell._product" class="col-md-4" readonly type="text" [value]="positionSell._product.name">
    <input *ngIf="positionSell._product" class="col-narrow" readonly type="number" [value]="positionSell._product.vat">
    <input class="col-md-1" type="number" step="0.01" [(ngModel)]="positionSell.buy_netto_price" (ngModelChange)="change()">
    <input class="col-md-1" type="number" step="0.01" [(ngModel)]="positionSell.sell_brutto_price" (ngModelChange)="change()">
</div>
<div *ngIf="!products || products.length == 0" class="row">
    <span>No sub-products</span>
</div>