<div class="container-fluid" *ngIf='product'>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
        <div style="margin-bottom: 1em">
            <button type="submit"
                    [disabled]="productForm.pristine" class="btn btn-success">Save
            </button>
            &nbsp;
            <button type="reset" (click)="revert()"
                    [disabled]="productForm.pristine" class="btn btn-danger">Revert
            </button>
        </div>
        <!-- Hero Detail Controls -->
        <div class="row">
            <div class="form-group col-md-6">
                <label class="center-block">Name:
                    <input class="form-control" formControlName="name">
                </label>
            </div>

            <div class="form-group col-md-6">
                <label class="center-block">Enabled:
                    <input type="checkbox" class="form-control" formControlName="enabled">
                </label>
            </div>

            <div class="form-group col-md-6">
                <label class="center-block">Barcode:
                    <input type="checkbox" class="form-control" formControlName="barcode">
                </label>
            </div>

            <div class="form-group col-md-6">
                <label class="center-block">Ean:
                    <input class="form-control" formControlName="ean">
                </label>
            </div>

            <div class="form-group col-md-6">
                <label class="center-block">PIH amount:
                    <input type="number" class="form-control" formControlName="pihAmount">
                </label>
            </div>

            <div class="form-group col-md-6">
                <label class="center-block">PIH unit:
                    <input class="form-control" formControlName="pihUnit">
                </label>
            </div>

            <div class="form-group col-md-6">
                <label class="center-block">Sell unit:
                    <input class="form-control" formControlName="sellUnit">
                </label>
            </div>

            <div class="form-group">
                <label class="center-block">Vat:
                    <input type="number" class="form-control" formControlName="vat">
                </label>
            </div>

            <div class="form-group col-md-6">
                <label class="center-block">Status:
                    <input class="form-control" formControlName="status">
                </label>
            </div>
        </div>
        <div formGroupName="cashRegisterInfo" class="well well-lg">
            <h4>Cash Register Info</h4>
            <div class="form-group">
                <label class="center-block">Nazwa:
                    <input class="form-control" formControlName="name">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Cena:
                    <input type="number" class="form-control" formControlName="price">
                </label>
            </div>
            <div class="form-group">
                <label class="center-block">Vat:
                    <input type="number" class="form-control" formControlName="vat">
                </label>
            </div>
        </div>
    </form>
</div>

<p>Form value: {{ productForm.value | json}}</p>
<!--<div class="container-fluid" *ngIf='selectedProduct'>-->
<!--<h1>{{selectedProduct.name}}</h1>-->
<!--<form (ngSubmit)="save()" #productForm="ngForm">-->
<!--<div class="row">-->
<!--<div class="form-group col-ean">-->
<!--<label for="ean">Kod kreskowy</label>-->
<!--<input type="text" class="form-control" required [(ngModel)]="selectedProduct.ean" name="ean"-->
<!--#ean="ngModel">-->
<!--<div [hidden]="ean.valid || ean.pristine" class="alert alert-danger">-->
<!--ean is required-->
<!--</div>-->
<!--</div>-->
<!--<div class="invoiceForm-group col-md-3">-->
<!--<label for="name">Nazwa</label>-->
<!--<input type="text" class="invoiceForm-control" required [(ngModel)]="selectedProduct.name"-->
<!--name="name" #name="ngModel">-->
<!--<div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>-->
<!--</div>-->
<!--<div class="invoiceForm-group col-md-3">-->
<!--<label for="cash_register_name">Nazwa w kasie</label>-->
<!--<input type="text" class="invoiceForm-control" required [(ngModel)]="selectedProduct.cash_register_name"-->
<!--name="cash_register_name" #cash_register_name="ngModel">-->
<!--<div [hidden]="cash_register_name.valid || cash_register_name.pristine" class="alert alert-danger">-->
<!--cash_register_name is required-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row">-->
<!--<div class="invoiceForm-group col-md-1">-->
<!--<label for="vat">Vat</label>-->
<!--<input type="text" class="invoiceForm-control" required [(ngModel)]="selectedProduct.vat"-->
<!--name="vat" #vat="ngModel">-->
<!--<div [hidden]="vat.valid || vat.pristine" class="alert alert-danger">-->
<!--vat is required-->
<!--</div>-->
<!--</div>-->
<!--<div class="invoiceForm-group col-md-1">-->
<!--<label for="cash_register_rate">Wsp. w kasie</label>-->
<!--<input type="text" class="invoiceForm-control" required [(ngModel)]="selectedProduct.cash_register_rate"-->
<!--name="cash_register_rate" #cash_register_rate="ngModel">-->
<!--<div [hidden]="cash_register_rate.valid || cash_register_rate.pristine" class="alert alert-danger">-->
<!--cash_register_rate is required-->
<!--</div>-->
<!--</div>-->
<!--<div class="invoiceForm-group col-md-1">-->
<!--<label for="sell_unit">Jednostka</label>-->
<!--<input type="text" class="invoiceForm-control" required [(ngModel)]="selectedProduct.sell_unit"-->
<!--name="sell_unit" #sell_unit="ngModel">-->
<!--<div [hidden]="sell_unit.valid || sell_unit.pristine" class="alert alert-danger">-->
<!--sell_unit is required-->
<!--</div>-->
<!--</div>-->
<!--<div class="invoiceForm-group col-md-1">-->
<!--<label for="pih_amount">PIH wartość</label>-->
<!--<input type="text" class="invoiceForm-control" required [(ngModel)]="selectedProduct.pih_amount"-->
<!--name="pih_amount" #pih_amount="ngModel">-->
<!--<div [hidden]="pih_amount.valid || pih_amount.pristine" class="alert alert-danger">-->
<!--pih_amount is required-->
<!--</div>-->
<!--</div>-->
<!--<div class="invoiceForm-group col-md-1">-->
<!--<label for="pih_unit">PIH jednostka</label>-->
<!--<input type="text" class="invoiceForm-control" required [(ngModel)]="selectedProduct.pih_unit"-->
<!--name="pih_unit" #pih_unit="ngModel">-->
<!--<div [hidden]="pih_unit.valid || pih_unit.pristine" class="alert alert-danger">-->
<!--pih_unit is required-->
<!--</div>-->
<!--</div>-->
<!--<div class="invoiceForm-group col-md-1">-->
<!--<label for="status">Status</label>-->
<!--<input type="text" class="invoiceForm-control" readonly [(ngModel)]="selectedProduct.status"-->
<!--name="status" #status="ngModel">-->
<!--<div [hidden]="status.valid || status.pristine" class="alert alert-danger">-->
<!--status is required-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<button type="submit" class="btn btn-primary" [disabled]="!productForm.invoiceForm.valid">Zapisz</button>-->
<!--<modal-confirm-button title="Usunąć produkt?" (onConfirm)="modalConfirmation()">Usuń</modal-confirm-button>-->
<!--<a (click)="cancel()">Cancel</a>-->
<!--</invoiceForm>-->
<!--</div>-->
<div class="container-fluid" *ngIf='!product'>
    {{'Coś się zepsuło i nie ma produktu :('}}
</div>

