<div class="container-fluid" *ngIf='product'>
    <h1>{{product.name}}</h1>
    <form (ngSubmit)="save()" #productForm="ngForm">
        <div class="row">
            <div class="form-group col-ean">
                <label for="ean">Kod kreskowy</label>
                <input type="text" class="form-control" required [(ngModel)]="product.ean" name="ean"
                       #ean="ngModel">
                <div [hidden]="ean.valid || ean.pristine" class="alert alert-danger">
                    ean is required
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="name">Nazwa</label>
                <input type="text" class="form-control" required [(ngModel)]="product.name"
                       name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
            </div>
            <div class="form-group col-md-3">
                <label for="cash_register_name">Nazwa w kasie</label>
                <input type="text" class="form-control" required [(ngModel)]="product.cash_register_name"
                       name="cash_register_name" #cash_register_name="ngModel">
                <div [hidden]="cash_register_name.valid || cash_register_name.pristine" class="alert alert-danger">
                    cash_register_name is required
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-1">
                <label for="vat">Vat</label>
                <input type="text" class="form-control" required [(ngModel)]="product.vat"
                       name="vat" #vat="ngModel">
                <div [hidden]="vat.valid || vat.pristine" class="alert alert-danger">
                    vat is required
                </div>
            </div>
            <div class="form-group col-md-1">
                <label for="cash_register_rate">Wsp. w kasie</label>
                <input type="text" class="form-control" required [(ngModel)]="product.cash_register_rate"
                       name="cash_register_rate" #cash_register_rate="ngModel">
                <div [hidden]="cash_register_rate.valid || cash_register_rate.pristine" class="alert alert-danger">
                    cash_register_rate is required
                </div>
            </div>
            <div class="form-group col-md-1">
                <label for="sell_unit">Jednostka</label>
                <input type="text" class="form-control" required [(ngModel)]="product.sell_unit"
                       name="sell_unit" #sell_unit="ngModel">
                <div [hidden]="sell_unit.valid || sell_unit.pristine" class="alert alert-danger">
                    sell_unit is required
                </div>
            </div>
            <div class="form-group col-md-1">
                <label for="pih_amount">PIH wartość</label>
                <input type="text" class="form-control" required [(ngModel)]="product.pih_amount"
                       name="pih_amount" #pih_amount="ngModel">
                <div [hidden]="pih_amount.valid || pih_amount.pristine" class="alert alert-danger">
                    pih_amount is required
                </div>
            </div>
            <div class="form-group col-md-1">
                <label for="pih_unit">PIH jednostka</label>
                <input type="text" class="form-control" required [(ngModel)]="product.pih_unit"
                       name="pih_unit" #pih_unit="ngModel">
                <div [hidden]="pih_unit.valid || pih_unit.pristine" class="alert alert-danger">
                    pih_unit is required
                </div>
            </div>
            <div class="form-group col-md-1">
                <label for="status">Status</label>
                <input type="text" class="form-control" readonly [(ngModel)]="product.status"
                       name="status" #status="ngModel">
                <div [hidden]="status.valid || status.pristine" class="alert alert-danger">
                    status is required
                </div>
            </div>
        </div>
        <div class="row">

        </div>

        <!--constructor(public _id:string = '',-->
        <!--public sell_unit:string = 'szt',-->
        <!--public status:string = 'New',-->
        <!--public vat: number = 0) {-->
        <!--<div class="row">-->
        <!--<input class="col-narrow" readonly type="text" [value]="position.index">-->
        <!--<input class="col-ean" readonly type="text" [value]="position.product.ean">-->
        <!--<input class="col-xs-4" readonly type="text" [value]="position.product.name">-->
        <!--<input class="col-narrow" type="number" [value]="position.product.vat">-->
        <!--<input class="col-narrow" type="number" step="1" [value]="position.quantity">-->
        <!--<input class="col-xs-1" type="number" step="0.01" [value]="position.buy_netto_price">-->
        <!--<input class="col-xs-1" type="number" step="0.01" [value]="position.sell_brutto_price">-->
        <!--<input class="col-narrow" type="number" step="1" [value]="position.discount">-->
        <!--<input class="col-narrow" type="number" step="0.01" [value]="position.retail_rate">-->
        <!--<input class="col-xs-1" readonly type="text" [value]="action">-->
        <!--</div>-->
        <button type="submit" class="btn btn-primary" [disabled]="!productForm.form.valid">Zapisz</button>
        <modal-confirm-button title="Usunąć produkt?" (onConfirm)="modalConfirmation()">Usuń</modal-confirm-button>
        <a (click)="cancel()">Cancel</a>
    </form>
</div>
<div class="container-fluid" *ngIf='!product'>
    {{'Coś się zepsuło i nie ma produktu :('}}
</div>

