<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

<div class="container" *ngIf='invoice'>
    <div>
        <h1>{{pageTitle + ': ' + invoice.name }}</h1>
        <form (ngSubmit)="onSubmit()" #invoiceForm="ngForm">
            <div class="form-group">
                <label for="name">Nazwa</label>
                <input type="text" class="form-control" required [(ngModel)]="invoice.name" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is required</div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!invoiceForm.form.valid">Zapisz</button>
            <modal-confirm-button (onConfirm)="onDelete()" title="Usunąć {{ invoice.name }}?">Usuń</modal-confirm-button>
        </form>
    </div>
</div>
<div class="container" *ngIf='!invoice'>
    {{'Coś się zepsuło i nie ma faktury :('}}
</div>
<!--<div *ngIf="showItems()">-->
    <!--<position-list [invoiceId]="invoice._id" [storeId]="invoice._store"></position-list>-->
<!--</div>-->
<div class='panel-footer'>
    <a class='btn btn-default' (click)='gotoInvoices()' style='width:80px'>
        <i class='glyphicon glyphicon-chevron-left'></i> Cofnij
    </a>
</div>
