<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

<div class="container" *ngIf='invoice'>
    <div>
        <h1>{{pageTitle + ': ' + invoice.name }}</h1>
        <invoice-form [model]="invoice" (invoiceSubmitted)="onInvoiceSubmitted($event)"></invoice-form>
    </div>
</div>
<div class="container" *ngIf='!invoice'>
    {{'Coś się zepsuło i nie ma faktury :('}}
</div>
<!--<div *ngIf="showItems()">-->
    <!--<position-list [invoiceId]="invoice._id" [storeId]="invoice._store"></position-list>-->
<!--</div>-->
<div class='panel-footer'>
    <a class='btn btn-default' (click)='gotoInvoices()' style='width:80px'>
        <i class='glyphicon glyphicon-chevron-left'></i> Cofnij
    </a>
</div>
