<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

<div class="container" *ngIf='invoice'>
    <div>
        <h1>{{pageTitle + ': ' + invoice.name }}</h1>

        <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()" novalidate>
            <div style="margin-bottom: 1em">
                <button type="submit" [disabled]="invoiceForm.pristine" class="btn btn-success">Zapisz</button> &nbsp;
                <button type="reset" (click)="revert()" [disabled]="invoiceForm.pristine" class="btn btn-danger">Reset</button>
                <modal-confirm-button (onConfirm)="onDelete()" title="Usunąć {{ invoice.name }}?">Usuń</modal-confirm-button>
            </div>
            <div class="form-group">
                <label class="center-block">Name:
                    <input class="form-control" formControlName="name">
                </label>
            </div>
        </form>
    </div>
</div>
<div class="container" *ngIf='!invoice'>
    {{'Coś się zepsuło i nie ma faktury :('}}
</div>
<!--<div *ngIf="showItems()">-->
    <!--<position-list [invoiceId]="invoice._id" [storeId]="invoice._store"></position-list>-->
<!--</div>-->
<div class='panel-footer'>
    <a class='btn btn-default' (click)='gotoInvoices()' style='width:80px'>
        <i class='glyphicon glyphicon-chevron-left'></i> Cofnij
    </a>
</div>
