<div class='container-fluid'>
    <h4>Asynchronous results</h4>
    <pre class="card card-block card-header">Model: {{asyncSelected | json}}</pre>
    <input [(ngModel)]="asyncSelected"
           [typeahead]="dataSource"
           [typeaheadAsync]="true"
           [typeaheadMinLength]="3"
           [typeaheadWaitMs]="100"
           [typeaheadOptionsLimit]="5"
           [typeaheadOptionField]="'name'"
           (typeaheadLoading)="changeLoading($event)"
           (typeaheadNoResults)="changeNoResults($event)"
           (typeaheadOnSelect)="onSelect($event)"
           placeholder="Search for products"
           class="form-control">
    <div *ngIf="isLoading">
        <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
    </div>
    <div *ngIf="noResults" class="" style="">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
</div>

